In [15]:
import pandas as pd
import requests
import json

In [21]:
response = requests.get("https://51y0kbp4y4.execute-api.us-east-1.amazonaws.com/prod/splitit?text=The quick brown fox and the quick brown dog")

In [22]:
j = json.loads(response.text)

In [23]:
j

{'counts': [2, 2, 2, 1, 1, 1],
 'words': ['the', 'quick', 'brown', 'fox', 'and', 'dog']}

In [34]:
pdj = pd.DataFrame(j)
pdj

   counts  words
0       2    the
1       2  quick
2       2  brown
3       1    fox
4       1    and
5       1    dog

In [35]:
pdj.set_index('words')

       counts
words
the         2
quick       2
brown       2
fox         1
and         1
dog         1