# Lab 5 - Intro to Numpy and Pandas


## Due: Thursday, February 8th, 2018,  11:59:00pm

### Submission instructions
After completing this homework, you will turn in three files via Canvas ->  Assignments -> Lab 5:
Your Notebook, named si330-lab5-YOUR_UNIQUE_NAME.ipynb and
the HTML file, named si330-lab5-YOUR_UNIQUE_NAME.html

### Name:  Libby Murray 
### Uniqname: 90594386
### People you worked with: [if you didn't work with anyone else write "I worked by myself" here].


## Objectives
After completing this Lab, you should know how to:
* Intro to NumPy concepts.
* Intro to Pandas concepts.

# Survey says...

Last year, students in several courses filled out a survey in the beginning of the course where they were asked questions such as Expected Grade, Expected Number of Hours, Enthusiasm, Worry and some questions about their proficiency in Python. We are going to use and do some simple manipulation tasks using Pandas.

### <font color="magenta">The tasks that you need to do are highlighted in magenta.</font>

## Step 1. Load the data into Pandas

The following chunk of code reads the data as a Pandas DataFrame.

In [18]:
import numpy as np
import pandas as pd
df = pd.read_csv('deidentified-survey.csv')

### <font color="magenta">Run the command ```df.head()``` to print the first 6 rows of the DataFrame. Try passing integers into ```head()``` and see how the output changes.</font>

In [19]:
# Write your code here

df.head()

,First name,Last name,What grade do you expect to get in this course?,How many hours outside of lecture and lab do you plan to spend on this course (per week)?,How enthusiastic are you about taking this course?,How worried are you about this course?,"In Python, how do you create a variable ""a"" that is equal to 2?","How would you cast the string variable ""a"" that is equal to ""2"" into the integer 2?",Which of the following is a valid dictionary in Python?,What will you see if you execute the following:,What will the output of the following code be?,What grade did you give yourself?
0,September,Maestas,A,12 hours,3,4,a=2,int(a),"myExample = {'someItem': 2, 'otherItem': 20}","[4, 5]",5.0,8
1,Jarod,Tracy,A,10,5,2,a=2,int(a),"myExample = {'someItem': 2, 'otherItem': 20}","[4, 5]",5.0,9
2,Digna,Dickey,A-,As much as needed?,4,4,a=2,int(a),"myExample = {'someItem': 2, 'otherItem': 20}","[4, 5]",5.0,7
3,Minda,Mcclain,A,10-15 (hopefully less),4,4,a=2,int(a),"myExample = {'someItem': 2, 'otherItem': 20}","[4, 5]",1.0,6
4,Lan,Pitts,A,6,5,3,a=2,int(a),"myExample = {'someItem': 2, 'otherItem': 20}","[4, 5]",5.0,10

In [20]:
df.head(10)

,First name,Last name,What grade do you expect to get in this course?,How many hours outside of lecture and lab do you plan to spend on this course (per week)?,How enthusiastic are you about taking this course?,How worried are you about this course?,"In Python, how do you create a variable ""a"" that is equal to 2?","How would you cast the string variable ""a"" that is equal to ""2"" into the integer 2?",Which of the following is a valid dictionary in Python?,What will you see if you execute the following:,What will the output of the following code be?,What grade did you give yourself?
0,September,Maestas,A,12 hours,3,4,a=2,int(a),"myExample = {'someItem': 2, 'otherItem': 20}","[4, 5]",5.0,8
1,Jarod,Tracy,A,10,5,2,a=2,int(a),"myExample = {'someItem': 2, 'otherItem': 20}","[4, 5]",5.0,9
2,Digna,Dickey,A-,As much as needed?,4,4,a=2,int(a),"myExample = {'someItem': 2, 'otherItem': 20}","[4, 5]",5.0,7
3,Minda,Mcclain,A,10-15 (hopefully less),4,4,a=2,int(a),"myExample = {'someItem': 2, 'otherItem': 20}","[4, 5]",1.0,6
4,Lan,Pitts,A,6,5,3,a=2,int(a),"myExample = {'someItem': 2, 'otherItem': 20}","[4, 5]",5.0,10
5,Rosina,Venegas,A,5-6,3,3,a=2,int(a),"myExample = {'someItem': 2, 'otherItem': 20}","4, 5, 2006",5.0,8
6,Candyce,Thorpe,A,at least 6,4,3,a=2,int(a),"myExample = {'someItem': 2, 'otherItem': 20}","[4, 5]",5.0,10
7,Garth,Fitch,A,6,4,1,a=2,int(a),"myExample = {'someItem': 2, 'otherItem': 20}","[4, 5]",5.0,8
8,Mafalda,Bullock,A,10,4,2,a=2,int(a),"myExample = {'someItem': 2, 'otherItem': 20}","[4, 5]",5.0,10
9,Twana,Larose,A-,5,3,5,a=2,int(a),"myExample = {'someItem': 2, 'otherItem': 20}","[4, 5]",5.0,9

## Step 2.1 Reading columns

One of the most useful features of Pandas is the ability to work on columns. In the following cell, we have stored all the responses to the question ```What grade do you expect to get in this course?``` as a column.

In [21]:
# the grade expectation of the class  
grade_expectation = df['What grade do you expect to get in this course?']

In [22]:
print(type(grade_expectation))
print(type(grade_expectation.values))
grade_expectation.values

<class 'pandas.core.series.Series'>
<class 'numpy.ndarray'>

array(['A', 'A', 'A-', 'A', 'A', 'A', 'A', 'A', 'A', 'A-', 'A', 'A', 'A',
       'A', 'A-', 'A-', 'A-', 'A', 'A-', 'A', 'A', 'A', 'A-', 'A', 'A',
       'A', 'A', 'B', 'A', 'A', 'A', 'A', 'A-', 'A+', 'A', 'A', 'A-', 'A+',
       'A', 'A-', 'A-', 'A', 'A'], dtype=object)

### <font color="magenta">In the cell below store the values of ```How enthusiastic are you about taking this course?``` and ```How worried are you about this course?``` into the variables. Print them out.</font>

In [23]:
enthusiasm_scores =df['How enthusiastic are you about taking this course?'].values # the enthusiasm score of the class stored as a numpy array

worry_scores = df['How worried are you about this course?'].values # the worry score of the class stored as a numpy array

print(worry_scores)

[4 2 4 4 3 3 3 1 2 5 1 4 4 2 3 3 4 4 5 1 1 3 4 5 4 4 4 4 2 5 4 4 4 5 3 2 4
 3 3 4 3 3 2]

## Step 2.2 Renaming the columns
Now those column names are pretty nasty, and it's easy to make a typo when you're trying to use them. Let's reassign better (shorter) names:

#### Note: be careful in this step. If the length of your list doesn't match the number of columns, you'll get an error.

In [24]:
df.columns = ['firstName','lastName','expectedGrade','hours','enthusiasm','worry','q1','q2','q3','q4','q5', 'overallScore']

### <font color="magenta">Retrieve the values in the column planned hours column and store it in planned_hours.</font>

In [25]:
# and try it out by retrieving the nparray that underpins that series.
planned_hours = df['hours']

planned_hours # Should print out the values as an array
# this variable needs some data cleaning for future analysis

0                                              12 hours
1                                                    10
2                                    As much as needed?
3                                10-15 (hopefully less)
4                                                     6
5                                                   5-6
6                                            at least 6
7                                                     6
8                                                    10
9                                                     5
10                                                    4
11                                                  5-6
12                                                    8
13                                                   10
14                                                   10
15                                                 9-12
16                                                   10
17                                                   10
18                                                   10
19                                                    4
20                                                   10
21                                                    4
22                                                    6
23                                                   10
24    A lot. I have a feeling this will be my most c...
25                                                    4
26                                                   10
27                                                    4
28                                                  4-5
29                                                   10
30                                                    8
31                                                   10
32                                                    7
33                                                   10
34                                                  5-6
35                                                    5
36                                                    4
37                                                    4
38                                                   10
39                                                  5-6
40                                                   10
41                                                    6
42                                                    6
Name: hours, dtype: object

## Step 3.1 Manipulating the data using ufuncs

A universal function (or ufunc for short) is a function that operates on ndarrays in an element-by-element fashion. We'll use ufuncs to calculate relaxation scores. In the survey students filled a 5 - point Likert scale with values from 1 - 5 to describe how worried they were about the course. 

We want to calculate the relaxation score such that for a person whose worry score is 5 would have a relaxation score of 1. Correspondingly, for someone whose worry score is 2, their relaxation score would be 4.

### <font color="magenta">Calculate the relaxation scores of the students.</font>

In [30]:
relaxation_scores = 6 - worry_scores  # fix this

relaxation_scores

array([2, 4, 2, 2, 3, 3, 3, 5, 4, 1, 5, 2, 2, 4, 3, 3, 2, 2, 1, 5, 5, 3, 2,
       1, 2, 2, 2, 2, 4, 1, 2, 2, 2, 1, 3, 4, 2, 3, 3, 2, 3, 3, 4])

## Step 3.2 Masking

Now we want to find the students who are either to relaxed about the course (relaxation scores > 4) or too stressed out (relaxation scores < 2)

You can use masking to return an object of the same shape and whose corresponding entries are from self (the object that you are manipulating viz. relaxation scores) where cond is True or False.

In [31]:
(relaxation_scores > 4) | (relaxation_scores < 2)

array([False, False, False, False, False, False, False,  True, False,
        True,  True, False, False, False, False, False, False, False,
        True,  True,  True, False, False,  True, False, False, False,
       False, False,  True, False, False, False,  True, False, False,
       False, False, False, False, False, False, False], dtype=bool)

In [34]:
firstname= df['firstName'].values 
firstname

array(['September', 'Jarod', 'Digna', 'Minda', 'Lan', 'Rosina', 'Candyce',
       'Garth', 'Mafalda', 'Twana', 'Loyce', 'Barabara', 'Genaro',
       'Karisa', 'Hertha', 'Pattie', 'Harmony', 'Ivana', 'Latarsha',
       'Imogene', 'Nicolette', 'Pa', 'Amal', 'Gennie', 'Collen', 'Janeen',
       'Oneida', 'Adell', 'Holley', 'Makeda', 'Lawana', 'Iliana', 'Leisha',
       'Susana', 'Sherrill', 'Ha', 'Angelita', 'Travis', 'Lemuel', 'Bong',
       'Latashia', 'Laurette', 'Devorah'], dtype=object)

### <font color="magenta">Store the names of the students in a separate variable called Name by combining the two columns: ```firstName``` and ```lastName```. Then return the names of the students who are either too relaxed or too stressed out.</font>

In [43]:
df['fullName'] = df['firstName'] +" "+ df['lastName']

df.head()

fullName[(relaxation_scores > 4) | (relaxation_scores < 2)] # Print out the names of the students who have a very high or very low relaxation score.

7           Garth Fitch
9          Twana Larose
10         Loyce Hewitt
18     Latarsha Snowden
19      Imogene Provost
20    Nicolette Rickard
23          Gennie Frey
29        Makeda Corona
33        Susana Saxton
dtype: object

We want to know which students both feel relatively worried about the class and have lower enthusiasm. 

### <font color="magenta">Write one line of code to figure out the number of students in the dataset that have a worry score score between 4 and 5 (inclusive), excluding those with an enthusiastic score between 4 and 5.</font>

In [37]:
print(sum((worry_scores <= 5) & (worry_scores >= 4) & (relaxation_scores >= 1) &(relaxation_scores <= 3) ))


#using negation:  print(sum((worry_scores <= 5) & (worry_scores >= 4) & ~((relaxation_scores <= 5) &(relaxation_scores >= 4)) ))

22

## Step 3.3 Calculating mean & median

no.mean() and np.median allows you to pass an array or array-like data and return the mean and median respectively.

### <font color="magenta">What are the mean and median worry and enthusiasm scores?</font>

In [38]:
print(np.mean(enthusiasm_scores))
print(np.median(enthusiasm_scores))

3.88372093023
4.0

## Step 4. Retrieve Specific Scores</font>

One issue we observe with the dataset is that it is difficult to figure out characteristics of each student when we have the columns in multiple arrays. What are other options that we learned for this purpose?

* Loading all the data in a 2-dimentional NumPy array? But we learned that NumPy does not support multiple datatypes in its arrays.
* Creating a Python dictionary with student names as keys and lists of other survey responses as values? Then it will be too costly to calculate statistics (such as mean, max, variance, ...) of each specification.

Pandas provides a solution to this issue, but to the expense of indexing all the data that is a slow process in large datasets. (For more information, look at https://penandpants.com/2014/09/05/performance-of-pandas-series-vs-numpy-arrays/)

In the EDA problems that we deal with, datasets have fairly small scales, so we do not need to worry about their load time that much. On the other hand, in most of the data analysis tasks, statistical models includes both numerical and categorical values. In thse cases it is almost impossible to use NumPy.

In our current problem, we want to explore the data to identify students. For this purpose, we can use pandas series.

Write a piece of code to create a pandas Series object that has the student's first name as the index and the relaxation scores as the value.  Fix the import statement to make this work.

In [18]:
import pandas as pd
#from pandas import Series   # fix this line

relaxationSeries = pd.Series(relaxation_scores, index = df['firstName'])  # fix this line
print(relaxationSeries)

firstName
September    2
Jarod        4
Digna        2
Minda        2
Lan          3
Rosina       3
Candyce      3
Garth        5
Mafalda      4
Twana        1
Loyce        5
Barabara     2
Genaro       2
Karisa       4
Hertha       3
Pattie       3
Harmony      2
Ivana        2
Latarsha     1
Imogene      5
Nicolette    5
Pa           3
Amal         2
Gennie       1
Collen       2
Janeen       2
Oneida       2
Adell        2
Holley       4
Makeda       1
Lawana       2
Iliana       2
Leisha       2
Susana       1
Sherrill     3
Ha           4
Angelita     2
Travis       3
Lemuel       3
Bong         2
Latashia     3
Laurette     3
Devorah      4
dtype: int64

Now that you learned how to create a correspondence between relaxation scores and names,

### <font color="magenta">Write one line of code to retrieve relaxation scores of the following students: September, Lan, Candyce, Garth</font>

In [47]:
relaxationSeries[ ['September'] ]
relaxationSeries[['Lan']]

firstName
Lan    3
dtype: int64

## Step 5. Identification Task

We just identified the highest worry score, lowest enthusiasm score. But these are not necessarily directing us to the same student. Write a piece of code that solves this issue and filters the dataset to find the closest students that Dr. Teplovs is looking for. What kind of information do you think we should provide for you to make your recommendation better?

### <font color="magenta">Step 5.1: Invent a score that combines some of the 'features' from the original data into something interesting.  </font>
For example, if we wanted students with high resolution, we might say:

score = enthusiasm score - worry score

(as enthusiasm score goes up, score goes up; as worry score goes up, score goes down). Think about whether you want to use the "raw" values or something normalized.

In [ ]:
responses['score'] = df['enthusiasm_scores'] - df['worry_scores'] # modify this to create the score
responses.head()