# Lab 8 - SQL


## Due: Thursday, March 8th, 2018,  11:59:00pm

### Submission instructions
After completing this homework, you will turn in three files via Canvas ->  Assignments -> Lab 8:
Your Notebook, named si330-lab8-YOUR_UNIQUE_NAME.ipynb and
the HTML file, named si330-lab8-YOUR_UNIQUE_NAME.html

### Name:  YOUR NAME GOES HERE
### Uniqname: YOUR UNIQNAME GOES HERE
### People you worked with: [if you didn't work with anyone else write "I worked by myself" here].


## Objectives
After completing this Lab, you should know how to:


### Required actions on your part are indicated in <font color="orange">orange</font>.  Required input (e.g. answers to questions) are indicated in <font color="magenta">magenta</font>.

## Step 3: Using python to store and retrieve data from your database

In [2]:
## You'll need to install this first
import psycopg2

### Step 3.1: Connecting to your Database
To set up a connection to the Database, you'll need to pass a four parameters as a string - host, dbname, user, password in the following format.
"host='*[insertHostAddress]*' dbname='*[insertDBname]*' user='*[yourMasterUsername]*' password='*[yourMasterPassword]*'"

<font color="magenta">Write down the string which will allow you to connect to the database</font>

** When you submit the lab, make sure you remove your login credentials before turning in your lab **

In [3]:
## This won't work because I have not provided my actual credentials. Make sure you enter your own before running this

connection_string = "host='si330-abhsarma.czqegfu9nqud.us-east-2.rds.amazonaws.com' dbname='music' user='root' password='rootroot'"
connection = psycopg2.connect(connection_string)

In [4]:
# This sets up a connection 
mark = connection.cursor()

### Step 3.2 Making queries to your Database

You'll use ```mark.execute()``` to pass your SQL queries as strings. Specify the SQL query to CREATE a Table named songs with the following columns: ```id (integer)```, ```title (varchar)```, ```album (varchar)```.

<font color="magenta">Write your query to Create a Table, which you'll pass into the execute() function</font>

In [5]:
mark.execute("CREATE TABLE IF NOT EXISTS songs_demo (id integer PRIMARY KEY, title varchar, album varchar);")

In [6]:
# This will commit your query to the server. Without this, your query is not complete.
connection.commit()

In the cell below write your SQL query to Insert into the table the following data:
Key: 1
Song: Dreams
Artist: Fleetwood Mac
Album: Rumours

<font color="magenta">Write your SQL query in the following code block. Also remember to commit</font>

In [16]:
# Solution

## If your table is already populated, this will return an error
mark.execute("INSERT INTO songs_demo (id, title, album) VALUES (1, 'Dreams', 'Rumours')")
connection.commit()

Below we show two examples of retrieving data from the table. ```fetchall()``` allows you to get all the rows from the table. This will return a list of tuples.

On the other hand, if you are just interested in the first row, you could use ```fetchone()``` which returns the first row from the table. This will return a tuple.

**If you've successfully stored the data into the database, the next two chunks should output a list of tuples. **

In [7]:
## You can check the contents of your table using this

mark.execute("SELECT * FROM songs_demo")
records = mark.fetchall()
records

[(1, 'Dreams', 'Rumours'),
 (2, 'Every Rose Has Its Thorn', 'Poison'),
 (3, 'Jump', '1984'),
 (4, 'The Chain', 'Rumours')]

In [8]:
mark.execute("SELECT * FROM songs_demo")
records = mark.fetchone()
records
connection.commit()

How do you count the number of rows that you have returned?
The SQL COUNT function is used to count the number of rows returned in a SELECT statement.

In [19]:
connection.commit()

In [20]:
mark.execute("SELECT title from songs_demo where title like '%a%'")
records = mark.fetchone()
records

('Dreams',)

### Step 3.3 Storing data from a list to the database

You are usually not going to populate your database with just one row of data - you'll probably want to store large amounts of data in multiple rows. Let's see how we can do that. ```list_of_songs``` is a list of tuples where each tuple is (*id*, *song_name*, *album_name*).

You can use ```executemany``` to write such a data structure into a table, as shown below.

In [19]:
list_of_songs = [(2, 'Every Rose Has Its Thorn', 'Poison'), 
                (3, 'Jump', '1984'), 
                (4, 'The Chain', 'Rumours')]

In [20]:
mark.executemany("INSERT INTO songs_demo (id, title, album) VALUES (%s, %s, %s)", list_of_songs)
connection.commit()

In [21]:
connection.commit()

In [ ]:
connection.close()

### Note: If your table has already been created, or it has been populated but you want to create a new table in place of the old one, or you want to empty your table, here are some commands that you can use

In [ ]:
## This will drop the table i.e. delete it

mark.execute("DROP TABLE songs_demo")
connection.commit()

In [ ]:
## This will empty your the table i.e. remove all the rows

mark.execute("DELETE FROM songs_demo")
connection.commit()

In [ ]:
## You can also add / delete columns from your table

# Adding a column
mark.execute("ALTER TABLE songs ADD artist_name")
connection.commit()


# Deleting a column
mark.execute("ALTER TABLE songs DROP COLUMN artist_name")
connection.commit()

### Step 3.4 More on Retrieving Data

We have provided two data structures for you. Perform the following steps:

* Create a table named **Songs** with columns *id, song_title, album_name, artistID*
* Create a second table named **Artists** with columns *artistID, artist_name*
* Select the columns *id, song_title, album_name, artist_name* from the two tables such that artistID from **Songs** table is the same as artistID from the **Artists** table. (There are two ways you can do this - using JOINs or using the WHERE funtion)
* Print the output

<font color="magenta">Write your SQL queris to create the two tables, insert data into them, and then retrieve the data as specified</font>

In [9]:
list_of_songs = [(1, 'Dreams', 'Poison', 1),
                (2, 'Every Rose Has Its Thorn', 'Poison', 2), 
                (3, 'Jump', '1984', 3), 
                (4, 'The Chain', 'Rumours', 1)]

list_of_artists = [(1, 'Fleetwood Mac'),
                (2, 'Poison'), 
                (3, 'Van Halen')]

In [10]:
connection = psycopg2.connect(connection_string)
mark = connection.cursor()

In [11]:
mark.execute("CREATE TABLE IF NOT EXISTS songs (id integer PRIMARY KEY, title varchar, album varchar, artistID integer);")
connection.commit()

In [ ]:
mark.executemany("INSERT INTO songs (id, title, album, artistID) VALUES (%s, %s, %s, %s)", list_of_songs)
connection.commit()

In [32]:
mark.execute("CREATE TABLE IF NOT EXISTS artists (id integer PRIMARY KEY, artist varchar);")
mark.executemany("INSERT INTO artists (id, artist) VALUES (%s, %s)", list_of_artists)
connection.commit()

In [33]:
mark.execute("""SELECT * FROM songs, artists 
            WHERE artistID = artists.id""")
mark.fetchall()

[(1, 'Dreams', 'Poison', 1, 1, 'Fleetwood Mac'),
 (2, 'Every Rose Has Its Thorn', 'Poison', 2, 2, 'Poison'),
 (3, 'Jump', '1984', 3, 3, 'Van Halen'),
 (4, 'The Chain', 'Rumours', 1, 1, 'Fleetwood Mac')]

In [34]:
mark.execute("""SELECT songs.id, songs.title, songs.album, artists.artist 
             FROM songs 
             INNER JOIN artists 
             ON songs.artistID = artists.id""")
mark.fetchall()

[(1, 'Dreams', 'Poison', 'Fleetwood Mac'),
 (2, 'Every Rose Has Its Thorn', 'Poison', 'Poison'),
 (3, 'Jump', '1984', 'Van Halen'),
 (4, 'The Chain', 'Rumours', 'Fleetwood Mac')]