# Lab 8 - SQL


## Due: Thursday, March 8th, 2018,  11:59:00pm

### Submission instructions
After completing this homework, you will turn in three files via Canvas ->  Assignments -> Lab 8:
Your Notebook, named si330-lab8-YOUR_UNIQUE_NAME.ipynb and
the HTML file, named si330-lab8-YOUR_UNIQUE_NAME.html

### Name:  YOUR NAME GOES HERE
### Uniqname: YOUR UNIQNAME GOES HERE
### People you worked with: [if you didn't work with anyone else write "I worked by myself" here].


## Objectives
After completing this Lab, you should know how to:


### Required actions on your part are indicated in <font color="orange">orange</font>.  Required input (e.g. answers to questions) are indicated in <font color="magenta">magenta</font>.

## Step 1: Setting up your Database

### <font color="orange">1.1: Log into your AWS account and navigate to All Services > Database > Relational Database Service > Get Started Now

![](s301.png)

### <font color="orange">1.2: Click on the checkbox at the bottom of the page which says ```Only enable options eligible for RDS Free Usage Tier``` > Select postgreSQL > Click Next.</font> 
The default - Amazon Aurora is not free, and postgreSQL is more widely used.

![](s302.png)

### <font color="orange">1.3: Don't change anything here. Scroll down to the bottom of this page to Settings. In the settings section, enter ```DB instance identifier```, ```Master username``` and ```Master password```. Make sure you set your password so that you recall it easily - otherwise you'll have to set up the database again.

![](s303.png)

### <font color="orange">1.4: Change ```Public accessibility``` to Yes. Leave everything else as is.

![](s304.png)

### <font color="orange">1.5: Scroll down to ```Database options``` section. Give your database a name as shown. Click "Create DB instance".
    
![](s305.png)

### <font color="orange">1.6: Click "View DB instance details"

![](s306.png)

### <font color="orange">1.7: This will take you to your database. It takes a few minutes to create your database. You can check this through "DB instance status".

![](s307.png)


## Step 2: Download and setup pgAdmin

### <font color="orange">2.1: Download the installer for pgAdmin4 v2.1 from https://www.pgadmin.org/ and install  and open it. Click on "Add new server".

![](s308.png)

### <font color="orange">2.2: Go back to your Amazon RDS account. Scroll down to the "Details" section - under the column - "Security and network" copy the server address under the header "Endpoint" (highlighted in the following screenshot).

![](s309.png)

### <font color="orange">2.3: Give a name to your server.

![](s310.png)

### <font color="orange">2.4: Under "Connection", enter the server address from Step 2.2 to "Host name / address". Your username should be the one you set for "Master username", and the password the one for "Master password".

![](s311.png)

### <font color="orange">2.5: On the "Browser" panel, expand Servers > <i>yourServerName</i> > Databases > music.

![](s312.png)

## Step 3: Using python to store and retrieve data from your database

In [5]:
## You'll need to install this first
import psycopg2

### Step 3.1: Connecting to your Database
To set up a connection to the Database, you'll need to pass a four parameters as a string - host, dbname, user, password in the following format.
"host='*[insertHostAddress]*' dbname='*[insertDBname]*' user='*[yourMasterUsername]*' password='*[yourMasterPassword]*'"

<font color="magenta">Write down the string which will allow you to connect to the database</font>

** When you submit the lab, make sure you remove your login credentials before turning in your lab **

In [15]:
connection_string = "host='si330-libbymur.clqth2h5kxt9.us-east-2.rds.amazonaws.com' dbname='music' user='root'password='D1oy14xFcS6V'"
connection = psycopg2.connect(connection_string)

In [18]:
# This sets up a connection 
mark = connection.cursor()

### Step 3.2 Making queries to your Database

You'll use ```mark.execute()``` to pass your SQL queries as strings. Specify the SQL query to CREATE a Table named songs with the following columns: ```id (integer)```, ```title (varchar)```, ```album (varchar)```.

<font color="magenta">Write your query to Create a Table, which you'll pass into the execute() function</font>

In [23]:
mark.execute('CREATE TABLE songs_demo(id integer PRIMARY KEY, title varchar, album varchar)')

ProgrammingError: relation "songs_demo" already exists

In [22]:
# This will commit your query to the server. Without this, your query is not complete.
connection.commit()

In the cell below write your SQL query to Insert into the table the following data:
Key: 1
Song: Dreams
Artist: Fleetwood Mac
Album: Rumours

<font color="magenta">Write your SQL query in the following code block. Also remember to commit</font>

In [28]:
mark.execute('INSERT INTO songs_demo(id,title,album) VALUES (1,'Dreams','Rumours')')
connection.commit()

SyntaxError: invalid syntax (<ipython-input-28-199b7ae90993>, line 1)

### <font color="magenta">Note: If you get an error in your code, you might have to reconnect to your database.</font>

Below we show two examples of retrieving data from the table. ```fetchall()``` allows you to get all the rows from the table. This will return a list of tuples.

On the other hand, if you are just interested in the first row, you could use ```fetchone()``` which returns the first row from the table. This will return a tuple.

**If you've successfully stored the data into the database, the next two chunks should output a list of tuples. **

In [ ]:
mark.execute("SELECT * FROM songs_demo")
records = mark.fetchall()
records

In [ ]:
mark.execute("SELECT * FROM songs_demo")
records = mark.fetchone()
records

How do you count the number of rows that you have returned?
The SQL COUNT function is used to count the number of rows returned in a SELECT statement.

In [ ]:
mark.execute("SELECT COUNT(*) FROM songs_demo")
records = mark.fetchone()
records

### Step 3.3 Storing data from a list to the database

You are usually not going to populate your database with just one row of data - you'll probably want to store large amounts of data in multiple rows. Let's see how we can do that. ```list_of_songs``` is a list of tuples where each tuple is (*id*, *song_name*, *album_name*).

You can use ```executemany``` to write such a data structure into a table, as shown below.

In [ ]:
list_of_songs = [(2, 'Every Rose Has Its Thorn', 'Poison'), 
                (3, 'Jump', '1984'), 
                (4, 'The Chain', 'Rumours')]

In [ ]:
mark.executemany("INSERT INTO songs_demo (id, title, album) VALUES (%s, %s, %s)", list_of_songs)
connection.commit()

### Step 3.4 More on Retrieving Data

We have provided two data structures for you. Perform the following steps:

* Create a table named **Songs** with columns *id, song_title, album_name, artistID*
* Create a second table named **Artists** with columns *artistID, artist_name*
* Select the columns *id, song_title, album_name, artist_name* from the two tables such that artistID from **Songs** table is the same as artistID from the **Artists** table. (There are two ways you can do this - using JOINs or using the WHERE funtion)
* Print the output

<font color="magenta">Write your SQL queris to create the two tables, insert data into them, and then retrieve the data as specified</font>

In [ ]:
list_of_songs = [(1, 'Dreams', 'Poison', 1),
                (2, 'Every Rose Has Its Thorn', 'Poison', 2), 
                (3, 'Jump', '1984', 3), 
                (4, 'The Chain', 'Rumours', 1)]

list_of_artists = [(1, 'Fleetwood Mac'),
                (2, 'Poison'), 
                (3, 'Van Halen')]

In [ ]:
## Write your solution here