# SI 330 Week 5 Class Notes 1: Python review and Pandas Introduction

## Jupyter tips:

To switch to markdown:

* ctrl-m m
* esc m

To switch to code:

* ctrl-m y
* esc y

to execute anything shift-enter

in case of emergency --> kernel --> interrupt

In [5]:
a = 5

In [6]:
a

5

In [3]:
a = 4 # remember execution order

# Reviewing some python basics

In [1]:
1+1

2

In [2]:
print("whatever")

whatever

In [6]:
w = "whatever"
s = "something"
w
s

'something'

In [7]:
w = "whatever"
s = "something"
print(w)
print(s)

whatever
something

In [8]:
5+5
2+2; # hide the last thing

In [9]:
print "bob"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("bob")? (<ipython-input-9-2dc998c7133a>, line 1)

In [14]:
print("bob")

bob

## data types

In [10]:
4 #int
4.3 # float
"hello world" # string
True  # Boolean
False
None

In [16]:
type(4)  # find me the type of something

int

In [11]:
type(None)

NoneType

In [17]:
# conversion
int(4.4) # convert float to integer

4

In [20]:
4.0 == 4   # integer 4 becomes 4.0 (upcast)

True

In [21]:
4 == "4"  # only works for numbers

False

In [22]:
str(4) == "4"   # convert

True

In [23]:
print(4)

4

In [26]:
print(str(5) + " the number is 5")  # don't forget to cast numbers to strings to print

5 the number is 5

## logic in python

In [27]:
5 > 4

True

In [31]:
(5 > 4) or (5 < 3)  # ands and ors to join  ( & |)

True

# variables

In [32]:
x = "apples"

In [34]:
x  = True
y = False
z = False

if x or y and z:
    print('yes')
else:
    print('no')

yes

In [35]:
x or (y and z)

True

In [36]:
(x or y) and z

False

In [38]:
(y and z)  #  advice: use parens and break apart large conditionals

False

# lists/tuples/dictionaries

In [4]:
namesTuples = ('alice','bob','sam')  # tuples,immutable
namesList = ['alice','bob','sam']  # list, mutable

In [40]:
namesTuples[1]

'bob'

In [41]:
namesTuples[1] = "jake"

TypeError: 'tuple' object does not support item assignment

In [42]:
namesList[1] = "jake"

In [43]:
namesList

['alice', 'jake', 'sam']

In [47]:
namesList.insert(3,'becca')  # 3 = position, 'becca' = new value

In [48]:
namesList

['alice', 'jake', 'sam', 'becca', 'becca']

In [52]:
'jake' in namesList  # is jake in the list?

True

In [53]:
namesList.index('jake')  # where does jake sit in the list

1

In [56]:
mixedList = [2,3.14,None,True,"string"]  # mix types

In [57]:
mixedList

[2, 3.14, None, True, 'string']

In [58]:
mixedList = [4,4,[2,5]]  # lists inside lists

In [59]:
mixedList

[4, 4, [2, 5]]

In [10]:
list1 = [1,2,3]
list2 = [4,5,6]
list3 = [7,8,9]
list1 + list2  # append list2 into list2

[1, 2, 3, 4, 5, 6]

In [11]:
list1.extend(list2)

In [12]:
list1

[1, 2, 3, 4, 5, 6]

In [13]:
list3.append(list1)
list3

[7, 8, 9, [1, 2, 3, 4, 5, 6]]

In [14]:
listMessy = [4,5,6,200,10]

In [15]:
listMessy.sort()  # sort the list (in place)

In [16]:
listMessy

[4, 5, 6, 10, 200]

## basic functions with lists

In [64]:
sum(listMessy)  # add up everything in list

225

In [67]:
len(listMessy)  # how many elements

5

In [69]:
sum(listMessy)/len(listMessy)

45.0

## slicing lists
x[start:stop:stops]

In [70]:
a =['a','b','c','d','e','f','g','h']

In [73]:
print("first four:",a[:4])   # same as a[0:4]

first four: ['a', 'b', 'c', 'd']

In [76]:
print("last four:",a[4:])  # a[-4:]

last four: ['e', 'f', 'g', 'h']

In [80]:
print("middle two",a[3:5])  # a[3:-3]

middle two ['d', 'e']

In [86]:
a  = (0,1,2,3,4,5,6,7,8,9)

In [87]:
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [88]:
a[::2]  # every second number

(0, 2, 4, 6, 8)

In [90]:
a[1::2]  # every second number starting at the second index (all odds)

(1, 3, 5, 7, 9)

## dictionaries

In [91]:
englishToSpanish = {'hello':'hola','goodbye':'adios'}

In [92]:
englishToSpanish['hello']  # lookup value given key

'hola'

In [94]:
'hello' in englishToSpanish  # is a key in the dictionary

True

# list comprehensions

In [95]:
a = [1,2,3,4,5]  # power ^2  1*1,2*2,3*3

In [96]:
b = []
for i in range(len(a)):
    b.append(a[i]*a[i])

In [97]:
b

[1, 4, 9, 16, 25]

In [98]:
[x**2 for x in a]  # list comprhension

[1, 4, 9, 16, 25]

In [100]:
# [do_something to element  for every element in list]

In [18]:
def sayHello(name):
    print("hello "+name)

In [19]:
sayHello("chris")

hello chris

In [20]:
def sayHello(name,job="student"):
    print("hello "+name+" you are a "+job)

In [21]:
sayHello("jake")

hello jake you are a student

In [22]:
sayHello("Abhraneel","GSI")

hello Abhraneel you are a GSI

In [23]:
def sayHello(name,job="student",office="student lab"):
    print("hello "+name+" you are a "+job+" you sit in "+office)

In [24]:
sayHello("alice",office="4370")  # skip the second argument

hello alice you are a student you sit in 4370

In [25]:
sayHello(office="4370")  # error, no name given

TypeError: sayHello() missing 1 required positional argument: 'name'

In [113]:
sayHello("alice",,"4370")

SyntaxError: invalid syntax (<ipython-input-113-4a36121a9d09>, line 1)

# python versus numpy

In [26]:
a = [1,True,'bob']  # reading through is expensive

In [27]:
import numpy as np  # load it in

In [28]:
np.array([1,2,3,4])

array([1, 2, 3, 4])

In [29]:
np.array([1,'3',"bob"])

array(['1', '3', 'bob'],
      dtype='<U21')

In [30]:
f= np.array([1,2,3,4])  # create a new array with the list as the values

In [31]:
f

array([1, 2, 3, 4])

In [32]:
np.zeros(10)  # give me a numpy array with all 0's

array([ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.])

In [33]:
np.ones(10)  # give me an array with all ones

array([ 1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.])

In [34]:
np.ones((3,5))  # multidimensional  3x5 matrix

array([[ 1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.]])

In [35]:
np.ones(10,dtype=int)  # give me 10x1 (integer)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [36]:
np.full(10,3.14)  # make me 10 pi's

array([ 3.14,  3.14,  3.14,  3.14,  3.14,  3.14,  3.14,  3.14,  3.14,  3.14])

# helper functions

In [43]:
np.random.seed(0)  # set the seed for all future calls of random

In [44]:
x1 = np.random.randint(10,size=6)  # can create random list max and size

In [45]:
x1

array([5, 0, 3, 3, 7, 9])

In [139]:
x1[2:]  # slicing works the same way

array([2, 4, 7, 6])

In [46]:
x = np.array([1,2,3])
y = np.array([3,2,1])
np.concatenate([x,y])

array([1, 2, 3, 3, 2, 1])

In [47]:
x+y

array([4, 4, 4])

In [48]:
x+10  # add 10 to everything

array([11, 12, 13])

In [49]:
10-x # subtract each element from 10

array([9, 8, 7])

In [52]:
x/10  # normalize everything

array([ 0.1,  0.2,  0.3])

In [53]:
x/max(x) # better normalization

array([ 0.33333333,  0.66666667,  1.        ])

In [54]:
a = np.array([4,5,6,10,12,14])

In [55]:
a

array([ 4,  5,  6, 10, 12, 14])

In [149]:
a > 6

array([False, False, False,  True,  True,  True], dtype=bool)

In [56]:
(a > 6) & (a < 14)

array([False, False, False,  True,  True, False], dtype=bool)

In [57]:
sum((a > 6) & (a < 14))  # how many trues

2