# SI 330 WN 2018 - Lab 10: Using the Spark Dataframes

## Objectives
1. Gaining familiarity with Spark Dataframes
2. Get experience with reading schemas of the data
3. Learning basic operations like column selection, sorting, grouping
4. Familiarity with the Yelp dataset

## Please fill in...
* Your name: Manali 
* People you worked with:  [If you didn't work with anyone, write "I worked by myself" here]

## Submission Instructions:
Please turn in this Databricks notebook file .html formats as well as the URL to your published notebook.

## Overview

In [2]:
import re
import pyspark
from pyspark import SparkContext

In [3]:
ACCESS_KEY = "AKIAIPKMRL4G3IEVQ7FQ"
SECRET_KEY = "bkG5SUmSc+S8bQseSo8SaBAHQtt3xGUfRlOojUrW"
ENCODED_SECRET_KEY = SECRET_KEY.replace("/", "%2F")
AWS_BUCKET_NAME = "umsi-data-science-west"
MOUNT_NAME = "umsi-data-science"
try:
  dbutils.fs.unmount("/mnt/%s/" % MOUNT_NAME)
except:
  print("Could not unmount %s, but that's ok." % MOUNT_NAME)
dbutils.fs.mount("s3a://%s:%s@%s" % (ACCESS_KEY, ENCODED_SECRET_KEY, AWS_BUCKET_NAME), "/mnt/%s" % MOUNT_NAME)
display(dbutils.fs.ls("/mnt/umsi-data-science/si330wn2018"))

## Step 0: Load the dataset

The Yelp business dataset is available as both JSON and SQL. We've provided the address to the JSON file in an S3 bucket.

#### Load the JSON file into a dataframe

In [5]:
# load the JSON file
df = spark.read.json('dbfs:/mnt/umsi-data-science/si330wn2018/business.json')

In [6]:
# Prints out the first two lines to see what it looks like.
df.take(2)

### Looking at the schema of the dataframe

There are a lot of columns in the dataset. It might be helpful to look at the schema.

In [8]:
df.printSchema()

#### Step 1: Filtering

** 1.1 We first give you an example of how you'd filter a dataframe. The chunk below filters all listings which has a rating less than 4.**

** 1.2 We've provided a list of states in `us_states_list`. Filter the dataframe so that rows from only these cities remain and store it in a new dataframe named `df_filtered_states`.**

In [10]:
# this filters the dataframe and prints it out. But it doesn't store the filtered df
df.filter(df['stars'] >= 4).show()

In [11]:
us_states_list = ["AZ", "NV", "OH", "PA"]

# Write your code here to store only the places from these four states
df_filtered_states = df.filter(df['state'].isin(us_states_list))
df_filtered_states.take(4)

#### Step 2: Grouping and Sorting

We can perform similar grouping and sorting operations on the dataframe like we did in Pandas.

** 2.1 Count the frequency of the different stars for the data in the dataframe `df_filtered_states` (Hint: look at the slides) **

In [13]:
# Write your code here
df_filtered_states.groupby('stars').count().show()

** 2.2 Count the number of listings in each states and sort them in descending order **

In [15]:
# Write your code here
df_filtered_states.groupby('state').count().sort('state', ascending = False).show()

#### Step 3: Joining

* **3.1: Load the json file `tip.json` as a dataframe named `df_tip`**
* **3.2: Take a look at what this dataframe looks like**
* **3.3: Join the `df_filtered_states` dataframe with `df_tip` dataframe** 
* **3.4: Find the listings with the most tips**

In [17]:
# Write your code here
df_tip = spark.read.json('dbfs:/mnt/umsi-data-science/si330wn2018/tip.json')
# df_tip.take(8)
# df_tip.printSchema()

df_joined = df_filtered_states.join(df_tip, df_filtered_states.business_id == df_tip.business_id)

# df_joined.groupby(df_tip.business_id).count().sort('business_id', ascending = True).show()
df_joined.take(5)

#### Step 4: Setting up SQL

* **4.1: Create a temporary sql table from your dataframe**

In [19]:
# Write your code here

df_filtered_states.createOrReplaceTempView('yelp')

* **4.2 Write a SQL query to get the names, address, stars and review counts of intimate and hipster places in Phoenix which are rated 3 stars or more from the SQL table you created in the previous step**

In [21]:
query = """
select * from yelp
where
city == 'Pheonix'
and
stars >= 3.0
and
attributes.Ambience.hipster
and
attributes.Ambience.intimate
"""

sqlDF = sql(query)
sqlDF.show()